*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, ol, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto",sans-serif;
    color:#434455;
    background-color: #ffffff; 
}

img {
    display: block;
}

.header-container {
    display: flex;
    align-items: center;  /*вирівнює елементи всередині рядків: Елементи розташовані по центру контейнера*/
    justify-content: space-between; /*Флекси рівномірно розподіляються по всьому рядку. Перший і останній флекс притискаються до відповідних країв контейнера*/
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    Border: 0px, 0px, 1px, 0px;
    /*border-bottom: 1px solid #e7e9fc; */
  }

.header-nav {
    display: flex;
    align-items: center;
}
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:  
    0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 1px 6px rgba(46, 47, 66, 0.08); 
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration:none;
    margin-right: 76px; 
}

.logo-span-header {
    color: #2e2f42;
}
    /*margin-right: 76px; 07.12.2023 перевірка ментора*/  


.menu-nav, 
.menu-addr,
.menu-visio,
.menu-team,
.menu-port,
.menu-team-social {
    list-style:none;
}

.menu-nav .menu {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
    text-decoration:none;
    padding: 24px 0;   
    display: block;    /*07.12.2023 перевірка ментора */
    position: relative; /*11-12-2023*/
    color: #2e2f42; 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu.current {
    color:#404bbf;
}

.menu.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
}

/*.menu::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
}mentor 14-12-2023 */ 

.menu-nav .menu:hover,
.menu-nav .menu:focus {
    color: #404bbf;    
}


.menu-address {
    font-style: normal;
}

.menu-addr .email-tel {
    font-size: 16px;
    font-weight: 400;
    font-style: normal; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;    
    text-decoration:none;
    padding-top: 24px;    /* 06-12*/
    padding-bottom: 24px; /* 06-12*/
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-addr .email-tel:hover,
.menu-addr .email-tel:focus {
    color: #404bbf;    
}

.menu-nav {
    display: flex;
    gap: 40px;     
}

.menu-addr {
    display: flex;
    gap: 40px;
}

.about {
    background-color: #2E2F42;
    text-align: center;
    height: 600px;
    padding: 188px 0;
    margin: 0 auto;
    background-image:  
    linear-gradient(rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)), 
    url(../images/img-name.jpg); /* для реалізації фонового зображення з затемненням (багатошаровий фон з градієнтом)   */
    max-width: 1440px; /*визначення ширини секції*/
    background-repeat: no-repeat; /*для уникнення повторення фонового зображення відносно його власної ширини та висоти*/
    background-position: center; /*вирівнювання фонового зображення відносно його власної ширини та висоти*/
    background-size: cover; /*для позиціонування зображення на всю площу фону елемента*/
}   
/*  забрати margin-bottom: 120px; 07.12.2023 перевірка ментора
забрати     linear-gradient(....) 
 background-color: #2E2F42; перевірка ментора 13-12-2023*/

.about-title {
    font-size: 56px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: white;
    max-width: 496px;   /* 06-12 для визначення ширини тексту в заголовка*/  
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;   /*07.12.2023 перевірка ментора*/
}

.about button {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: white;
    background-color: #4d5ae5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 16px 32 px;
    display: block;  /* 06-12 для можливості центрувати кнопку через властивість margin?*/
    min-width: 169px;   /* 06-12 мінімальна ширина кнопки*/
    height: 56px;       /* 06-12 висота кнопки*/
    border: none;       /* 06-12 для вимкнення стандартного оформлення кнопки*/
    border-radius: 4px; /* 06-12 заокруглення у кнопки*/
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); /*плавної зміни кольору фону елемента*/
}

button:hover, 
button:focus {
    background-color: #404bbf;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
} 

.visio {
    padding: 120px 0;
 }
 /*width: 1128px; margin-bottom: 120px; 07.12.2023 перевірка ментора*/

.menu-visio {
    display: flex;  /*06-12 для розміщення елементів списку по горизонталі в рядок*/
    gap: 24px;      /*06-12 розмір відступів між елементами списку*/
}

.menu-visio-li {
    width: calc((100% - 72px) / 4);
}

h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

svg {
    fill: #4D5AE5;

}

.svg-visio {
    width: 64;
    height: 64;
}

.visio-ul-li-div {
    border-radius: 4px;
    border: 1px;
    border-color: #8e8f99;
    border-style: solid;
    margin-bottom: 8px;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
}


/* h3 заголовок */
.h-visio {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;  /*06-12 відступ між заголовком і параграфом*/
}

.p-visio {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
}
/*margin-top: 0;  07.12.2023 перевірка ментора*/

.team {
    background-color: #F4F4FD;
    padding: 120px 0;
}
/*    margin-bottom: 120px; 07.12.2023 перевірка ментора*/

.menu-team {
    display: flex;  /*06-12 для розміщення елементів списку по горизонталі в рядок*/
    gap: 24px;      /*06-12 розмір відступів між елементами списку*/
}

/*заголовок h2*/
.team-h {
    line-height: 1.11;
    text-transform: capitalize;
    margin-bottom: 72px; /*06-12 відступ між h2 заголовком і параграфом*/
}

.team p {
    text-align: center;
}

.team-li {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4); 
    box-shadow: 
    0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);  /*визначення тіні для елемента*/
}

.team-li-div {
    padding: 32px 0;
}

/* h3 заголовок  */
.h-team {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 8px; /*06-12 відступ від заголовка до параграфу*/
}

.p-team {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin: 0 0 8px;
}
/*4hw   */
.menu-team-social {
    display: flex;
    justify-content: center;
    gap: 24px;
}


.svg-team {
    fill: #f4f4fd;
}

.team-social-li {    
        width: 40px;
        height: 40px;
}

.team-social-li-a {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-li-a:hover,
.team-social-li-a:focus {
    background-color: #404bbf; 
}

.port {
    padding-top: 120px; 
    padding-bottom: 120px; 
}
/*    margin-bottom: 120px; 07.12.2023 перевірка ментора*/

/* h2 заголовок */
.port-h {
    line-height: 1.11;
    text-transform: capitalize;
    margin-bottom: 72px;
}

/* h3 заголовок */
.h-port {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: #2e2f42;  
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.p-port {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
}

.menu-port {
    display: flex;
    flex-wrap: wrap; /*для переносу елементів списку на новий рядок якщо їм не вистачає місця в попередньому */
    column-gap: 24px; /* горизонтальних відступів між пунктами списку*/                
    row-gap: 48px;  /*вертикальних відступів між елементами списку якщо вони переносяться на новий рядок*/
}

.menu-port-li {
    width: calc((100% - 48px) / 3); 
    transition: 
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
/*11-12-2023*/
.menu-port-li:hover {
    box-shadow: 
    0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}

.menu-port-li:hover .menu-port-li-div-img-p {
    transform: translateY(0%);
}

.menu-port-li-div{
    padding: 32px 16px; 
    border: 1px solid #e7e9fc;
    border-top: none; 
}

.menu-port-li-div-img {
    position: relative;
    overflow: hidden;
}

.menu-port-li-div-img-p {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    margin: 0;
}

.footer-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    max-width: 264px;
    margin: 0;
}

.footer {
    padding: 100px 0;
    background-color: #2E2F42;
}

.logo-a-footer {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration:none;
    margin-bottom: 16px; 
    display: inline-block; /*для додавання посиланню блочних властивостей*/
}

.logo-span-footer {
    color: #f4f4fd;
}

.container-footer {
    display: flex;
    align-items: baseline;
}

.container-footer-div {
    margin-right: 120px;
}
    /*margin: 0 auto;
    max-width: 1158px;
    padding: 0 15px; все це є в класі .container*/

.footer-div-p-social {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin: 0;     /*12-12-2023*/
    margin-bottom: 16px;
}

.menu-footer-social {
    display: flex;
    gap: 16px;
    list-style: none;  /*12-12-2023*/
}

.footer-social-li {
    width: 40px;
    height: 40px;
}

.footer-social-li-a {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex; 
    align-items: center;
    justify-content: center;
    transition: 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-li-a:hover,
.footer-social-li-a:focus {
    background-color: #31d0aa; 
}

.svg-footer {
    fill: #f4f4fd;
}